body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

nav {
    background: gold;
    color: black;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}